<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.welfareZhu.item.myblog.dao.ArticleCommentDao">

    <cache-ref namespace="cn.welfareZhu.item.myblog.dao.UserSearchDao"/>

    <resultMap id="articleCommentMap" type="cn.welfareZhu.item.myblog.model.ArticleComment">
        <id property="articleCommentId" column="article_comment_id"/>
        <result property="articleId" column="article_id"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="clientId" column="client_id"/>
        <result property="commentType" column="comment_type"/>
        <result property="commentStatus" column="comment_status"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
    </resultMap>

    <select id="selectArticleCommentByCommentId" parameterType="Integer" resultMap="articleCommentMap">
        select * from article_comment where article_comment_id = #{commentId}
    </select>

    <select id="selectCommentByArticleIdAndStatusType" resultMap="articleCommentMap">
        select * from article_comment where article_id = #{articleId} and comment_status = #{status} and comment_type = #{type} order by create_date desc
    </select>

    <insert id="insertArticleComment" parameterType="cn.welfareZhu.item.myblog.model.ArticleComment" useGeneratedKeys="true"
            keyProperty="articleCommentId">
        insert into article_comment
        (article_id,content,user_id,client_id,comment_type,comment_status,create_date,modify_date)
        values
        (#{articleId},#{content},#{userId},#{clientId},#{commentType},#{commentStatus},#{createDate},#{modifyDate})
    </insert>

    <update id="updateCommentStatus">
        update article_comment set comment_status = #{status} , modify_date = now() where article_comment_id = #{commentId}
    </update>

</mapper>